@import "~@fontsource/ibm-plex-sans/latin-ext.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  background-color: #e4e4e7; /* grey-200 */
  font-family: "IBM Plex Sans";
  height: 100%;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}
